@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

.transition {
  transition: all 0.3s;
}

@media (max-width: 767px) {
  .display {
    display: none !important;
  }
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 20px;
}
